.cuerpo-color{
    background-color: #011826;
}
.caja-barra-navegacion{
    background-color: rgba(35, 181, 211, 0.20); 
}
#colorbarra{
    padding-left: 130px;
    
}
li{
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
}
.contenedor-imagen-central{
    display: flex;
    justify-content: center;
    position: relative;
}
.caja-titulo-imagen-central{
    display: flex;
    position: absolute;
}
.titulo-imagen-central{
     font-size: 105px;
    font-weight: 700;
}
h1{
    color: #DBDA00;
    font-weight: 700px;
    height: 184;
}
.imagencentral{
    padding-top: 90px;    
}


