.cuerpo-color{
    background-color: #011826;
}
.caja-barra-navegacion{
    background-color: rgba(35, 181, 211, 0.20); 
}
#colorbarra{
    padding-left: 130px;
    
}
li{
    font-size: 20px;
    font-weight: 700;
    padding-left: 150px;
}
.contenedor-imagen-central{
    display: flex;
    justify-content: center;
    position: relative;
}
.caja-titulo-imagen-central{
    display: flex;
    position: absolute;
}
.titulo-imagen-central{
     font-size: 105px;
    font-weight: 700;
}
h1{
    color: #DBDA00;
    font-weight: 700px;
    height: 184;
}
.imagencentral{
    padding-top: 90px;    
}
section{
    /*background-color:rgba(35, 181, 211, 0.20);*/
    /*background-color:white;*/
    /*position: relative;*/
}
form{
    background-color: rgba(35, 181, 211, 0.20);
    /*position: absolute;*/
    left: 35%;
    text-align: center;
}
.titulo-registro-informacion{
    color: white;
    font-size: 31px;
    padding-top : 30px;
}
.input-text{
    border-radius: 8px;
    border-color: #23B5D3;
    background-color: rgba(35, 181, 211, 0.20);
}
button{
    background-color: #DBDA00;
    border-radius: 12px;   
}
